.Upload {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}
