.spinnerWrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

.formWrapper {
    display: flex;
    justify-content: center;
}
