.Upload {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Wrapper {
    /* box-sizing: border-box; */
    width: 100%;
    text-align: center;
}